circle {
  transform-origin: 500px 500px;
  opacity: 1/6;
  animation: breathe 60s/5 cubic-bezier(0.65, 0.05, 0.36, 1) infinite;
  -webkit-animation: breathe 60s/5 cubic-bezier(0.65, 0.05, 0.36, 1) infinite;
  transform: rotate(var(--angle))   translate(110px, 0);
}

@keyframes breathe {
  0%,
  100% {
    transform: rotate(var(--angle)) translate(0px, 0)
  }
  45%,
  55% {
    transform: rotate(var(--angle)) translate(225px, 0)
  }
}

.rose {
  transform-origin: 500px 500px;
  animation: turn 120s linear infinite;
  -webkit-animation: turn 120s linear infinite;
}

@keyframes turn {
  0% {
    transform: rotate(0)
  }
  100% {
    transform: rotate(360deg)
  }
}

@import url('https://fonts.googleapis.com/css?family=Unica+One');
svg {
  fill: hsl(340, 100%, 60%);
  width: 100vw;
  height: 80vh;
}