/* ============================================================= */
/* ===================== about page style only ================== */
/* ============================================================= */


.about-page-header p {
  width: 60%;
  margin: auto;
  padding-top: 15vh;
  font-size: 1.1em;
  color: #585858;
  letter-spacing: .2rem;
}

.about-page-header a {
  /*text-decoration: underline;*/
}

.about-page-box {
  width: 100%;
  margin: auto;
  background-color: #f1f1f1;
  opacity: 0.8;
  box-shadow: 10px 10px #999999;
  padding: 40px;
  font-size: 1.05em;
}

.about-page-box-link {
  box-shadow: 10px 10px #999999;
  /*padding: 60px;*/
  background-color: #ffddd9;
  text-align: center;
  width: 150px;
  height: 120px;
  color: white;
  transition: 0.5s;
  transform: scaleX(0.2);
  transform-origin: top;
}

.about-page-box-link i {
  margin-top: 40px;
  font-size: 35px;
}


.about-page-box-link:hover {
  background-color: #feffe1;
  color: #ffddd9;
}

#about-page-box-3 {
  margin-left: 40vw;
  margin-top: 7vh;
}

#about-page-box-4 {
  margin-left: 55vw;
}

#about-page-box-5 {
  margin-left: 25vw;
  position: relative;
  top: -10vw;
}

@media only screen and (max-width: 768px) {
}
